html,body{
  height: 100%;
  margin: 0;

}
body {
    // font-size: .875rem;
    background-color: #fff;
    font-family: 'Noto Sans TC', '微軟正黑體', sans-serif;
    color: rgb(47, 50, 47)!important;
    margin: 0 !important; 
    line-height: 1.5;
    background-color: #f8f9fa;


  }
  a {
    text-decoration: none;
    color:inherit;
   
  }
  a:hover{
    text-decoration: none;
    color: inherit;
  }
  ol,ul{
    list-style: none;
  }